.profileBox{
    background:var(--dblack);
    box-shadow: var(--shadow);
    padding:30px;
    color:white;
    display:flex;
    background-position: center !important; 
    background-size: cover !important;
    align-items:center;
    position: sticky;
    top:0px;
}
.profileUsername input{
    font-size:30px;
    text-shadow: 10px 10px 10px 10px black;
}
.profileAvatarBox{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid;
    border-radius:100%;
}
.profileAvatarBox img{
    border-radius:100%;
    box-shadow:var(--shadow);
    width:120px;
    height:120px;
    background-position: center !important;
    background-size: contain !important;
}
.updateAvatarButton, .updateCoverButton{
    position: absolute;
    color:white;
    padding:5px;
    box-shadow:var(--shadow);
    cursor:pointer;
    background:var(--orange);
}
.updateAvatarButton:hover, .updateCoverButton:hover{
    background: black;
}
.updateCoverButton{
    right: 0px;
    opacity: 0;
}